.addToCartBtn {
    text-transform: capitalize;
    border: none;
    border-radius: 0.5rem;
    padding: 0.313rem 0.625rem;
    background: linear-gradient(var(--white), var(--light-sec-color));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: linear-gradient(
            45deg,
            var(--white),
            var(--light-sec-color)
        );
    }
}
