.productPage {
    padding: 2rem 1rem;
    padding-top: 5.938rem;

    .imgSide {
        position: relative;

        .discountBadge {
            position: absolute;
            background-color: var(--secondary-color);
            color: var(--white);
            border-radius: 0.625rem;
            z-index: 111;
            top: 0.313rem;
            left: 0.313rem;
            padding: 0.313rem;
        }

        .mainImg {
            position: relative;

            .wishlistBtn {
                cursor: pointer;
                position: absolute;
                top: 0.313rem;
                right: 0.313rem;
                border-radius: 0.625rem;
                padding: 0.313rem;
                background-color: var(--body-background);
                z-index: 111;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    color: var(--secondary-color);
                }
            }

            img {
                width: 100%;
                border-radius: 0.313rem;
            }
        }

        .thumbnails {
            position: absolute;
            bottom: 5%;
            background-color: var(--glass-color);
            backdrop-filter: blur(0.125rem);
            border-radius: 0.625rem;
            width: 90%;

            .thumbnailsSwiper {
                .thumbnailImg {
                    img {
                        width: 100%;
                        border-radius: 0.625rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .detailsSide {
        color: var(--dark-sec-color);
        .productPriceSection {
            display: flex;
            align-items: center;
            gap: 0.313rem;

            h4 {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }

        .productVariationSection {
            .varSection {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.313rem;

                .colorOption {
                    cursor: pointer;
                    padding: 0.313rem;
                    border-radius: 0.625rem;
                    display: flex;
                    align-items: center;
                    gap: 0.313rem;
                    transition: all 0.3s ease-in-out;

                    .colorCircle {
                        width: 1.25rem;
                        height: 1.25rem;
                        border-radius: 50%;
                    }
                }

                .sizeBtn {
                    border: 0.063rem solid var(--secondary-color);
                    border-radius: 0.625rem;
                    background-color: transparent;
                    color: var(--main-color);
                    padding: 0.313rem 0.625rem;
                    transition: all 0.3s ease-in-out;
                }

                .out-of-stock-size {
                    opacity: 0.5;
                }

                .selected {
                    background-color: var(--secondary-color);
                    color: var(--white);
                    transition: all 0.3s ease-in-out;
                }
            }

            .variationSelected {
                text-transform: capitalize !important;
                padding: 1.25rem 0.625rem;
                border-radius: 0.625rem;
                background: linear-gradient(
                    to left,
                    var(--secondary-color),
                    var(--light-sec-color)
                );
                color: var(--white);

                .img {
                    img {
                        width: 100%;
                        border-radius: 0.625rem;
                    }
                }
            }
        }
    }
}
