.line {
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--light-sec-color)
    );
    height: 0.125rem;
    border-radius: 0.625rem;
    width: 75%;
    margin: 0 auto;
}
