.ProductCard {
    background: linear-gradient(
        45deg,
        var(--secondary-color),
        var(--light-sec-color)
    );
    border-radius: 0.625rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .imgContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        overflow: hidden;

        .discountBadge {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 0.625rem;
            background: linear-gradient(
                to right,
                var(--secondary-color),
                var(--light-sec-color)
            );
            color: var(--white);
            padding: 0.125rem;
            text-decoration: line-through;
            z-index: 2;
        }

        .wishlistBtn {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.313rem;
            background-color: var(--secondary-color);
            border-radius: 0 0 0.625rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            svg {
                color: var(--white);
            }

            &:hover {
                background-color: var(--white);

                svg {
                    color: var(--secondary-color);
                }
            }
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.625rem;

            img {
                width: 100%;
                margin: 0 auto;
                border-radius: 0.625rem;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .info {
        padding-top: 0.625rem;

        .price {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.313rem;
        }
    }

    &:hover {
        transform: translateY(-0.125rem);
        box-shadow: 0 0.25rem 0.625rem var(--main-color);
    }
}
