.ProductCard {
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .imgContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .discountBadge {
            position: absolute;
            top: 0.313rem;
            right: 0.313rem;
            background: linear-gradient(
                to right,
                var(--secondary-color),
                var(--light-sec-color)
            );
            color: var(--white);
            padding: 0.125rem;
            text-decoration: line-through;
            z-index: 2;
        }

        .wishlistBtn {
            position: absolute;
            top: 0.313rem;
            left: 0.313rem;
            width: 2.5rem;
            height: 2.5rem;
            background-color: var(--secondary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            svg {
                color: var(--white);
            }

            &:hover {
                background-color: var(--white);

                svg {
                    color: var(--secondary-color);
                }
            }
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                margin: 0 auto;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .info {
        padding: 1.25rem 0.313rem;
        .price {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.313rem;
        }
    }
}
