.ProductCard {
    background-color: var(--secondary-color);
    border-radius: 0.625rem;
    transition: all 0.3s ease-in-out;

    .imgContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        overflow: hidden !important;

        .discountBadge {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 0.625rem;

            background-color: var(--secondary-color);
            color: var(--white);
            padding: 0.125rem;
            text-decoration: line-through;
            z-index: 2;
        }

        .wishlistBtn {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.313rem;
            background-color: var(--secondary-color);
            border-radius: 0 0 0.625rem 0;
            z-index: 1;
            cursor: pointer;

            .btn {
                background-color: var(--body-background);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.625rem;
                padding: 0.25rem;
            }

            svg {
                color: var(--secondary-color);
            }
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.625rem;
            overflow: hidden !important;

            img {
                width: 100%;
                margin: 0 auto;
                border-radius: 0.625rem;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .info {
        position: relative;
        color: var(--white);

        .price {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.313rem;
        }
    }

    &:hover {
        .imgContainer {
            a {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}
