.cartPage {
    padding: 5.938rem 0rem 1.25rem 0rem;
    min-height: 60vh;
    color: var(--secondary-color);

    .cartItems {
        background-color: var(--secondary-color);
        color: var(--white);
        border-radius: 0.625rem;

        .cartItem {
            position: relative;
            background: linear-gradient(
                30deg,
                var(--dark-sec-color),
                var(--light-sec-color),
                var(--secondary-color)
            );
            border-radius: 0.625rem;

            .deleteBtn {
                cursor: pointer;
                width: fit-content;
                position: absolute;
                top: 0.313rem;
                color: var(--white);
            }

            .info {
                .price {
                    display: inline;
                }
            }

            .imgContainer {
                cursor: pointer;

                img {
                    border-radius: 0.625rem;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .cartSummary {
        background-color: var(--secondary-color);
        border-radius: 0.625rem;
        color: var(--white);

        .cartSummItem {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                margin: 0;
            }
        }

        button {
            background-color: var(--white);
            color: var(--secondary-color);
            font-weight: bolder;
            border-radius: 0.313rem;
            border: none;
            padding: 0.625rem;
            width: 100%;
        }
    }
}

.emptyCartBtn {
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 0.625rem;
    padding: 0.313rem 0.625rem;
}
