nav {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.625rem;
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--main-color),
        var(--secondary-color)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    z-index: 1111;

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .actionBtn {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            width: 2.188rem;
            height: 2.188rem;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            svg {
                color: var(--white);
                transition: all 0.3s ease-in-out;
            }

            &:before {
                content: "";
                background-color: var(--secondary-color);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                inset: 0;
                transform: scale(0);
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    color: var(--main-color);
                }

                &:before {
                    transform: scale(1);
                }
            }
        }
    }
}

.sideMenuBtn {
    border: none;
    background-color: transparent;
    color: var(--white);
}

.langBtn {
    background: var(--glass-color);
    border: none;
    border-radius: 0.625rem;
    backdrop-filter: blur(1.875rem);
    -webkit-backdrop-filter: blur(1.25rem);
    padding: 0.313rem;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
}

.sideMenu {
    position: relative;
    background: linear-gradient(
        to bottom,
        var(--secondary-color),
        var(--light-sec-color)
    ) !important;

    .SideMenuHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 9.375rem;
        }
        .closeBtn {
            position: absolute;
            top: 0.625rem;
            background-color: transparent;
            border: none;
        }
    }

    .sideMenuContent {
        .sideMenuList {
            list-style: none;

            .sideMenuListItem {
                cursor: pointer;
                padding: 0;
                border-radius: 0.625rem;
                color: var(--main-color);
                background: var(--glass-color);
                backdrop-filter: blur(1.875rem);
                -webkit-backdrop-filter: blur(1.25rem);
                text-transform: capitalize;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

                .sideMenuLink {
                    color: var(--main-color);
                    display: block;
                    width: 100%;
                    padding: 0.625rem;
                }

                .arrowIcon {
                    transition: all 0.3s ease-in-out;
                }

                .rotateArrowAr {
                    transition: all 0.3s ease-in-out;
                    transform: rotate(-90deg);
                }

                .rotateArrowEn {
                    transition: all 0.3s ease-in-out;
                    transform: rotate(90deg);
                }

                &:hover {
                    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
                    transform: translateY(-0.125rem);
                }
            }

            .catListTrigger {
                padding: 0.625rem;
            }

            .categoriesList {
                list-style: none;

                .sideMenuListItem {
                    text-transform: capitalize;
                    font-weight: normal !important;
                }
            }
        }
    }
}

footer {
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--light-sec-color),
        var(--secondary-color)
    );
}
