nav {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.625rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    z-index: 1111;

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .actionBtn {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            width: 2.188rem;
            height: 2.188rem;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            svg {
                color: var(--white);
                transition: all 0.3s ease-in-out;
            }

            &:before {
                content: "";
                background-color: var(--secondary-color);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                inset: 0;
                transform: scale(0);
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    color: var(--main-color);
                }

                &:before {
                    transform: scale(1);
                }
            }
        }
    }

    .navList {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .navItem {
            position: relative;
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;

            a {
                color: var(--white);
                transition: all 0.3s ease-in-out;
            }

            &::before {
                content: "";
                height: 0.063rem;
                width: 0;
                border-radius: 0.625rem;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--secondary-color);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                font-weight: bold;
                letter-spacing: 0.063rem;

                a {
                    color: var(--secondary-color);
                }

                &::before {
                    width: 100%;
                }
            }
        }
    }

    .logoLink {
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}
