nav {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.625rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;

    .navList {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .navItem {
            position: relative;
            color: var(--white);
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;

            &::before {
                content: "";
                height: 0.063rem;
                width: 0;
                border-radius: 0.625rem;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--secondary-color);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                font-weight: bold;
                letter-spacing: 0.063rem;
                color: var(--secondary-color);

                &::before {
                    width: 100%;
                }
            }
        }
    }

    .logoLink {
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}
