.topBar {
    position: sticky;
    top: 0;
    overflow: auto !important;
    background: var(--secondary-color);
    color: var(--white);
    padding: 0.5rem 0;
    z-index: 11;
    width: 100%;

    .marquee {
        display: flex;
        overflow: hidden;
        user-select: none;
        width: 100%;
        direction: ltr;

        .marquee-track {
            display: flex;
            width: max-content;
            flex-shrink: 0;
            direction: ltr;
            animation: scroll 50s linear infinite;

            .marquee-content {
                flex-shrink: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: max-content;

                .marquee-item {
                    padding-right: 4rem;
                    white-space: nowrap;
                    font-weight: 500;
                }
            }
        }
    }
}

.navContainer {
    margin-top: 2.5rem;
    padding: 1.25rem 0;
    width: 100%;
    position: fixed;
    top: 0;

    pointer-events: none;
    z-index: 1111;

    nav {
        position: sticky;
        margin: 0 auto;
        padding: 0.625rem;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.875rem;
        pointer-events: auto;

        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;

            .actionBtn {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                width: 2.188rem;
                height: 2.188rem;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                svg {
                    color: var(--white);
                    transition: all 0.3s ease-in-out;
                }

                &:before {
                    content: "";
                    background-color: var(--white);
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    inset: 0;
                    transform: scale(0);
                    z-index: -1;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    svg {
                        color: var(--secondary-color);
                    }

                    &:before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.sideMenuBtn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 2.188rem;
    height: 2.188rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    svg {
        color: var(--white);
        transition: all 0.3s ease-in-out;
    }

    &:before {
        content: "";
        background-color: var(--white);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        inset: 0;
        transform: scale(0);
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        svg {
            color: var(--secondary-color);
        }

        &:before {
            transform: scale(1);
        }
    }
}

.langBtn {
    background: var(--glass-color);
    color: var(--white);
    border: none;
    border-radius: 0.625rem;
    backdrop-filter: blur(1.875rem);
    -webkit-backdrop-filter: blur(1.25rem);
    padding: 0.313rem;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
}

.sideMenu {
    position: relative;
    background: linear-gradient(
        to bottom,
        var(--secondary-color),
        var(--light-sec-color)
    ) !important;

    .SideMenuHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 9.375rem;
        }
        .closeBtn {
            position: absolute;
            top: 0.625rem;
            background-color: transparent;
            border: none;
            color: var(--white);
        }
    }

    .sideMenuContent {
        .sideMenuList {
            list-style: none;

            .sideMenuListItem {
                cursor: pointer;
                padding: 0;
                border-radius: 0.625rem;
                color: var(--white);
                background: var(--glass-color);
                backdrop-filter: blur(1.875rem);
                -webkit-backdrop-filter: blur(1.25rem);
                text-transform: capitalize;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

                .sideMenuLink {
                    color: var(--white);
                    display: block;
                    width: 100%;
                    padding: 0.625rem;
                }

                .arrowIcon {
                    transition: all 0.3s ease-in-out;
                }

                .rotateArrowAr {
                    transition: all 0.3s ease-in-out;
                    transform: rotate(-90deg);
                }

                .rotateArrowEn {
                    transition: all 0.3s ease-in-out;
                    transform: rotate(90deg);
                }

                &:hover {
                    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
                    transform: translateY(-0.125rem);
                }
            }

            .catListTrigger {
                padding: 0.625rem;
            }

            .categoriesList {
                list-style: none;

                .sideMenuListItem {
                    text-transform: capitalize;
                    font-weight: normal !important;
                }
            }
        }
    }
}

footer {
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--light-sec-color),
        var(--secondary-color)
    );

    .footerCol {
        text-transform: capitalize !important;

        .socialMedia {
            .links {
                display: flex;
                align-items: center;
                gap: 0.625rem;

                span {
                    width: 2.188rem;
                    height: 2.188rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--main-color);
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        background-color: var(--white);

                        a {
                            color: var(--secondary-color);
                        }
                    }
                }
            }
        }

        form {
            .inputContainer {
                position: relative;

                input {
                    width: 100%;
                    padding: 0.625rem;
                    border: none;
                    border-radius: 0.313rem;
                    text-align: end;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        text-align: end;
                    }
                }

                .submitBtn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    border-radius: 0.313rem;
                    color: var(--white);
                    background-color: var(--secondary-color);
                    padding: 0.313rem;
                    text-transform: capitalize;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .pageLinks {
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 0.313rem;

            a {
                color: var(--main-color);
            }
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
