.variationAddToCartBtn {
    border: none;
    border-radius: 0.625rem;
    padding: 0.313rem 0.625rem;
    background-color: var(--white);
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.313rem;
}
