.compLoader {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 100%;

    .imgHolder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        img {
            width: 10%;
            animation: pulse 1s infinite;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
