.Loader {
    position: relative;
    background-color: var(--body-background);
    width: 100dvw;
    height: 100dvh;

    .imgHolder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        img {
            animation: pulse 1s infinite;
        }
    }
}

.sectionLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background);
    height: 100dvh;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
