.reviews {
    width: 75%;
    margin: 0 auto;
    text-transform: capitalize;

    .reviewCard {
        img {
            width: 21.875rem;
            height: 21.875rem;
            border-radius: 0.625rem;
        }
    }
}
