.reviews {
    width: 75%;
    margin: 0 auto;
    text-transform: capitalize;

    .reviewCard {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            border-radius: 0.625rem;
        }
    }
}
