.addToCartBtn {
    text-transform: capitalize;
    border: none;
    border-radius: 0.5rem;
    padding: 0.625rem;
    background-color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 0.313rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0.25rem 0.625rem var(--main-color);
        transform: translateY(-0.125rem);
    }
}
