.addToCartBtn {
    position: absolute;
    bottom: 0.313rem;
    text-transform: capitalize;
    border: none;
    border-radius: 0.625rem;
    padding: 0.5rem;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .addToCartBtn {
        padding: 0.313rem;
    }
}
