.addToCartBtn {
    text-transform: capitalize;
    border: none;
    border-radius: 0.625rem;
    width: 100%;
    padding: 0.625rem;
    background-color: var(--white);
    color: var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 0.313rem;
    position: relative;

    a {
        color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

@media (max-width: 768px) {
    .addToCartBtn {
        padding: 0.313rem;
    }
}
