.addToCartBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize;
    border: none;
    border-radius: 0.625rem 0 0 0;
    padding: 0.5rem;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    span {
        background-color: var(--secondary-color);
        color: var(--white);
        padding: 0.25rem;
        border-radius: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

@media (max-width: 768px) {
    .addToCartBtn {
        padding: 0.313rem;
    }
}
