.productAddToCartBtn {
    position: relative;
    text-transform: capitalize;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
    position: relative;
    width: 100%;

    a {
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}
