.productAddToCartBtn {
    position: relative;
    text-transform: capitalize;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background: linear-gradient(
        45deg,
        var(--secondary-color),
        var(--light-sec-color)
    );
    color: var(--white);
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;

    a {
        color: var(--white);
    }
}
