.bestProduct {
    position: relative;
    background: linear-gradient(
        30deg,
        var(--dark-sec-color),
        var(--light-sec-color),
        var(--secondary-color)
    );
    margin: 1.25rem auto !important;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;

    .title {
        position: absolute;
        top: 0;
        padding: 0.313rem;
        background-color: var(--dark-sec-color);
        color: var(--white);
        border-radius: 0 0 0.625rem 0;
    }

    .enTiltle {
        border-radius: 0 0 0 0.625rem;
    }

    .imgSide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: auto;
            border-radius: 0.625rem;
        }
    }

    .detailsSide {
        color: var(--white);
        .price {
            display: flex;
            align-items: center;
            gap: 0.313rem;

            h6 {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }
        .badges {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.625rem;

            .badgeItem {
                width: calc(50% - 0.313rem);
                background-color: var(--light-sec-color);
                color: var(--dark-sec-color);
                border-radius: 0.625rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}
