.bestProduct {
    box-shadow: 0 0 0.625rem var(--secondary-color);
    border-radius: 0.625rem;
    .inner {
        box-shadow: 0 0 0.625rem var(--secondary-color);
        border-radius: 0.625rem;
        background-image: url("/background.webp");
        background-size: cover;

        .imgContainer {
            img {
                width: 100%;
                height: auto;
                border-radius: 0.625rem;
            }
        }

        .infoSide {
            color: var(--dark-sec-color);

            .price {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .bestProdBtn {
                text-transform: capitalize;
                border: none;
                border-radius: 1.25rem;
                background-color: var(--secondary-color);
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.313rem;
                min-width: 12.5rem;
                padding: 0.625rem;
            }

            .colors {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.313rem;

                .colorItem {
                    width: 2.188rem;
                    height: 2.188rem;
                    border-radius: 50%;
                    border: 0.063rem solid var(--secondary-color);
                    transition: all 0.3s ease;
                }

                .selected {
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
            }

            .sizes {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.313rem;

                .sizeBtn {
                    background-color: transparent;
                    color: var(--dark-sec-color);
                    border: 0.063rem solid var(--dark-sec-color);
                    border-radius: 0.313rem;
                    width: 2.188rem;
                    height: 2.188rem;
                    transition: all 0.3s ease;
                }

                .selected {
                    background-color: var(--dark-sec-color);
                    color: var(--white);
                    transition: all 0.3s ease;
                }
            }
        }

        .trustBadge {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.313rem;
            text-align: center;
            padding: 0.625rem;
            background: linear-gradient(
                to bottom,
                var(--glass-color),
                var(--dark-sec-color)
            );
            color: var(--body-background);
            border-radius: 6.25rem 6.25rem 0 0;
            transition: all 0.3s ease-in-out;

            h5 {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                background: linear-gradient(
                    to bottom,
                    var(--dark-sec-color),
                    var(--glass-color)
                );
                transition: all 0.3s ease-in-out;

                h5 {
                    color: var(--dark-sec-color);
                }
            }
        }

        .inMobileBadge {
            background: linear-gradient(
                to bottom,
                var(--body-background),
                var(--dark-sec-color)
            );
            border-radius: 0.625rem;

            h5 {
                font-size: 10px;
            }
        }
    }
}
