.bestProduct {
    width: 90%;
    margin: 1.25rem auto !important;
    .imgSide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: auto;
            margin: 0 auto;
            border-radius: 0.625rem;
        }
    }

    .detailsSide {
        .title {
            width: fit-content;
            padding: 0.188rem;
            border-radius: 0.625rem;
            background: linear-gradient(
                to bottom,
                var(--secondary-color),
                var(--light-sec-color)
            );
            color: var(--white);

            h5 {
                padding: 0.313rem;
            }
        }
        .price {
            display: flex;
            align-items: center;
            gap: 0.313rem;

            h6 {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }
        .description {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}
