.categoriesBar {
    .categoryIcon {
        position: relative;
        cursor: pointer;
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        img {
            width: 6.25rem;
            height: 6.25rem;
        }

        &:hover {
            transform: translateY(-0.125rem);
        }
    }
}
