.categoriesBar {
    .categoryIcon {
        width: fit-content;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        img {
            width: 6.25rem;
            height: 6.25rem;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}
