.categoriesBar {
    .categoryIcon {
        width: fit-content;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        img {
            width: 100%;
            height: auto;
        }
        h4 {
            color: var(--secondary-color);
            font-weight: bolder;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}
