.whyUs {
    margin: 0 auto;

    h2 {
        background: linear-gradient(
            to right,
            var(--light-sec-color),
            var(--secondary-color),
            var(--light-sec-color)
        );
        width: fit-content;
        color: var(--white);
        border-radius: 0.625rem;
        padding: 0.625rem;
    }

    .whyChooseItem {
        .imgContainer {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.625rem;
            border: 0.063rem solid var(--secondary-color);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            .imgContainer {
                box-shadow: 0 0 0.625rem var(--main-color);
            }
        }
    }
}
