.hero {
    position: relative;
    height: 80dvh;
    width: 100%;

    .heroSwiper {
        height: 100%;
        width: 100%;
    }

    .swiper-slide {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .navBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--secondary-color);
        color: var(--white);
        border: none;
        width: 2.188rem;
        height: 2.188rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    .navPrev {
        left: 0.625rem;
    }
    .navNext {
        right: 0.625rem;
    }

    .swiper-pagination-bullet-active {
        background: var(--secondary-color);
    }
}
