.hero {
    position: relative;
    width: 100%;
    padding-top: 5.938rem;

    .imgContainer {
        display: grid;
        margin: 0 auto;
        border-radius: 0.625rem;
        box-shadow: 0 0 0.625rem var(--secondary-color);
        overflow: hidden;

        img {
            grid-area: 1 / 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.8s ease-in-out;
            pointer-events: none;
        }

        img.active {
            opacity: 1;
            pointer-events: auto;
            position: relative;
        }
    }
}
