@import url("./fonts.css");

/*colors*/
:root {
    font-size: 16px;
    --main-color: #000;
    --secondary-color: #c5a059;
    --light-sec-color: #c6b79b;
    --white: #fff;
    --glass-color: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: robotoSlab, changa !important;
    margin: 0;
}

a {
    text-decoration: none !important;
}
