/*arabic font*/
@font-face {
    font-family: ubuntu;
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

/*english font*/
@font-face {
    font-family: zain;
    src: url("./assets/fonts/Zain-Regular.ttf");
}
