.qnttyCounter {
    background-color: var(--secondary-color);
    width: fit-content;
    border-radius: 0.625rem;
    display: inline-flex;
    margin-inline-end: 0.313rem !important;
    align-items: center;
    gap: 0.313rem;

    button {
        background-color: transparent;
        border: none;
        color: var(--white);
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0;
    }

    span {
        color: var(--white);
    }
}
