.qnttyCounter {
    background-color: var(--light-sec-color);
    width: fit-content;
    border-radius: 1.25rem;
    display: inline-flex;
    margin: 0.313rem !important;
    align-items: center;
    gap: 0.313rem;

    button {
        background-color: transparent;
        border: none;
        color: var(--white);
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0 0.313rem;
    }

    span {
        background-color: var(--secondary-color);
        color: var(--white);
        font-weight: bold;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
